<div class="footer">
  <div class="container">
    <div class="row">
    <div class="col-4 footer-logo">
      <a href="index.html"
        ><img
          src="../../assets/images/flogo.png"
          title="brand-logo"
      /></a>
    </div>
    <div class="col-6 fact-footer">
      <p>Faq | Terms and Conditions | Secure | Payments | Shipping | Contact</p>
    </div>
    <div class="col-2 footer-social">
      <ul class="unstyled-list list-inline">
        <li>
          <a class="pin" href="#"><span> </span></a>
          <a class="twitter" href="#"><span> </span></a>
          <a class="facebook" href="https://www.facebook.com/tnah.gon"><span> </span></a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
