
body a{
  transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
font-weight:400;
}

h1,h2,h3,h4,h5,h6{
margin:0;
font-weight:400;
  transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;

}
.clear {
clear:both;
}
p{
margin:0;
}

ul{
margin:0;
padding:0;
}

label{
margin:0;
}
img {
  width: 100%;
}
body {
  text-align: center;
margin:0;

}
/*--end reset--*/
/*--header--*/
.main-container {
  padding: 0;
background: rgba(30, 29, 29, 0.4);

}
/*--header--*/
.header-w3l {
  padding: 2em 0 2em;
}
.header-w3l h1{
font-size:3em;
  color:#fff;
  letter-spacing: 4px;
  text-transform: uppercase;
font-family: 'Snippet', sans-serif;
}
/*--//header--*/

/*--main--*/
.main-content-agile {
  margin: 0 auto;
  background:rgba(12, 12, 12, 0.81);
  width: 34%;
}
.w3ls-pro h2 {
  font-size: 1.7em;
  color: #fcb50e;
  letter-spacing: 3px;
  padding: 1em 0;
  font-weight: 600;
text-transform:uppercase;
font-family: 'Snippet', sans-serif;
}
.sub-main-w3ls{
position:relative;
 padding: 2.5em;
}

span.icon1, span.icon2 {
  color: #f1a008;
  font-size: 1em;
  position: absolute;
  display: block;
  text-align: center;
}
span.icon1 {
  top: 13%;
}
span.icon2 {
  top: 31%;
}
.icon3{
  width: 40%;
}
span.icon1, span.icon2{
right: 4.2em;
}
.checkbox-w3 {
  margin:2em 0 2.5em;
}
span.check-w3 {
  float: left;
  color: #fff;
  font-size: 1em;
  letter-spacing: 1px;
font-family: 'Snippet', sans-serif;
}
.checkbox-w3 a {
  color: #fff;
  float: right;
  font-size: 1em;
text-decoration: none;
font-family: 'Snippet', sans-serif;
}
/*-- social-icons --*/
.social-icons ul li {
  display: inline-block;
}
.social-icons ul li i {
  font-size: 0.9em;
  line-height: 2.8em;
  text-align: center;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  border-radius: 10%;
  color: #fff;
  background: transparent;
  border: 3px solid #efe8e8;
}
.social-icons i.fa.fa-facebook:hover {
  background: #3b5998;
  text-shadow: 0px 0px 15px #3b5998;
  transition: all 0.5s cubic-bezier(0.27, 0.38, 0.58, 1);
}
.social-icons i.fa.fa-twitter:hover{
background: #1da1f2;
  text-shadow: 0px 0px 15px #1da1f2;
  transition: all 0.5s cubic-bezier(0.27, 0.38, 0.58, 1);
}
.social-icons i.fa.fa-google-plus:hover{
background: #dd4b39;
  text-shadow: 0px 0px 15px #dd4b39;
  transition: all 0.5s cubic-bezier(0.27, 0.38, 0.58, 1);

}
.social-icons  i.fa.fa-pinterest:hover{
background: #bd081c;
  text-shadow: 0px 0px 15px #bd081c;
  transition: all 0.5s cubic-bezier(0.27, 0.38, 0.58, 1);

}
/*--social-icons--*/

/*--footer--*/
.footer {
  padding: 2.05em 0;
}

.footer p {
  font-size: 1em;
  color: #fff;
  letter-spacing: 2px;
font-family: 'Snippet', sans-serif;
}

/*--/footer--*/
