
/*---top-contact-info---*/
.top-contact-info li span{
  width:15px;
  height:15px;
  display:inline-block;
  }
  .top-contact-info li span.phone{
  background:url(../../assets/images/phone-icon.png) no-repeat 0px 0px;
  vertical-align:middle;
  margin-right:0.2em;
  }
  .top-contact-info li span.mail{
  background:url(../../assets/images/mail-icon.png) no-repeat 0px 0px;
  vertical-align:middle;
  margin-right:0.2em;
  }
  .add-to-cart{
  float:left;
  }
  .login-rigister{
  float:right;
  }
  span.cart{
  width: 38px;
  height: 35px;
  display: inline-block;
  background: url(../../assets/images/cart.png) no-repeat 0px 6px;
  border-right: 1px solid #DDD9D9;
  padding-right: 0.8em;
  margin-top: 0.3em;
  }
  ul.cart-sub{
  display:none;
  }
  .add-to-cart li{
  position:relative;
  }
  .add-to-cart li:hover ul.cart-sub{
  display: block;
  position: absolute;
  top: 55px;
  left: 0px;
  }
  ul.cart-sub{
  background:#FFF;
  padding:0.5em;
  }
  ul.cart-sub li p{
  color:#EF3626;
  }
  .login-rigister li a.login{
  color: #444444;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0.6em;
  text-decoration: underline;
  }
  .login-rigister li a.login:hover{
  color:#EF3626;
  text-decoration:none;
  }
  .login-rigister li a.rigister{
  background:#F03627;
  color:#FFF;
  padding: 0.5em 2.5em;
  display:inline-block;
  border-radius:0.3em;
  border:1px solid #B64E30;
  border-top:2px solid #B64E30;
  font-weight:600;
  }
  .login-rigister li a.rigister:hover{
  text-decoration:none;
  background:#5B5B5B;
  border:1px solid #5B5B5B;
  border-top:2px solid #5B5B5B;
  }
  a.rigister span{
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url(../../assets/images/arrow.png) no-repeat 2px 0px;
  margin: 0 0.0em 0 0;
  padding: 0;
  }
  .cart-details{
  border: 1px solid #FFF;
  padding: 0.7em 0.3em;
  border-radius:0.3em;
  }
  .top-contact-info ul li a:hover{
  text-decoration:none;
  color:#EF3626;
  }
  .top-contact-info{
  margin-bottom: 0.9em;
  text-align: right;
  }
