<div class="container">
  <!----top-header---->
  <div class="top-header">
    <div class="logo">
      <a [routerLink]="['/home']"><img src="../assets/images/logo.png" title="barndlogo" /></a>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!----//top-header---->
  <!---top-header-nav---->
  <div class="top-header-nav">
  <!----start-top-nav---->
   <nav class="top-nav main-menu">
     <div class="row">
     <div class="col-8">
      <ul class="top-nav">
        <li><a class="nav-link" [routerLink]="['/home']">{{ 'Home' | translate }}</a></li>
        <li><a class="nav-link" routerLink="/product">{{ 'Product' | translate }}</a></li>
        <li><a class="nav-link" routerLink="/contact">{{ 'Contact' | translate }}</a></li>
        <li><a class="nav-link" routerLink="/login">{{ 'Login' | translate }}</a></li>
      </ul>
     </div>
     <div class="col-4">
       <ul class="nav">
      <li>
        <div class="dropdown">
        <a class="nav-link">{{ 'Translate' | translate }}</a><span> </span>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton ">
          <button class="dropdown-item colorStyle " (click)="useLanguage1('en') ">English</button>
          <button class="dropdown-item colorStyle " (click)="useLanguage2('vi') ">Vietnam</button>
        </div>
        </div>
      </li>
    </ul>
     </div>
    </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
