<!-- <div class="text-center">
  <h1 translate>Products</h1>
</div>
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-4">
      <h3>Addidas</h3>
      <table class="table">
        <tbody  *ngFor="let pd of p_addidas">
          <div class="col-12">
            <tr>
              <th rowspan="2"><a routerLink="/product/{{pd.id}}"><img src="{{ pd.img }}" width="100px" height="100px"></a></th>
              <th>{{ pd.id }}</th>
            </tr>
            <tr>
              <td>{{ pd.name }}</td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h3>Nike</h3>
      <table class="table">
        <tbody  *ngFor="let pd of p_nike">
          <div class="col-12">
            <tr>
              <th rowspan="2"><a routerLink="/product/{{pd.id}}"><img src="{{ pd.img }}" width="100px" height="100px"></a></th>
              <th>{{ pd.id }}</th>
            </tr>
            <tr>
              <td>{{ pd.name }}</td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h3>Balencia</h3>
      <table class="table">
        <tbody  *ngFor="let pd of p_balen">
          <div class="col-12">
            <tr>
              <th rowspan="2"><a routerLink="/product/{{pd.id}}"><img src="{{ pd.img }}" width="100px" height="100px"></a></th>
              <th>{{ pd.id }}</th>
            </tr>
            <tr>
              <td>{{ pd.name }}</td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-3 product-filter-grid1-brands">
      <h3>BRANDS</h3>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <ul class="unstyled-list b-list1">
              <li><a href="#">adidas</a></li>
              <li><a href="#">nike</a></li>
              <li><a href="#">camper</a></li>
              <li><a href="#">superga</a></li>
              <li><a href="#">timberland</a></li>
              <li><a href="#">new balance</a></li>
              <li><a href="#">converse</a></li>
              <li><a href="#">puma</a></li>
              <li><a href="#">kinetix</a></li>
              <div class="clearfix"> </div>
            </ul>
          </div>
          <div class="col-6">
            <ul class="unstyled-list b-list2">
            <li><a href="#">tiger</a></li>
            <li><a href="#">lacoste</a></li>
            <li><a href="#">eebok</a></li>
            <li><a href="#">cat</a></li>
            <li><a href="#">dockers</a></li>
            <div class="clearfix"> </div>
          </ul></div>
        </div>
      </div>
    </div>

    <div class="col-6 product-filter-grid1-brands-col2">
      <div class="producst-cate-grids">
      <div class="container">
        <div class="row">
              <div class="col-4 producst-cate-grid text-center">
                <h2>WOMAN</h2>
                <img class="r-img text-center img-responsive" src="../../assets/images/img-w.jpg" width="150px" height="150px" title="name">
                <h4>TOTAL</h4>
                <label>357 PRODUCTS</label>
                <a class="r-list-w" href="#"><img src="../../assets/images/list-icon.png" title="list"></a>
              </div>
              <div class="col-4 producst-cate-grid text-center">
                <h2>MAN</h2>
                <img class="r-img text-center img-responsive" src="../../assets/images/man-r-img.jpg" width="150px" height="150px" title="name">
                <h4>TOTAL</h4>
                <label>357 PRODUCTS</label>
                <a class="r-list-w" href="#"><img src="../../assets/images/list-icon.png" title="list"></a>
              </div>
              <div class="col-4 producst-cate-grid text-center">
                <h2>KIDS</h2>
                <img class="r-img text-center img-responsive" src="../../assets/images/kid-r-img.jpg" width="150px" height="150px" title="name">
                <h4>TOTAL</h4>
                <label>357 PRODUCTS</label>
                <a class="r-list-w" href="#"><img src="../../assets/images/list-icon.png" title="list"></a>
              </div>
            </div>
        </div>
        </div>
      </div>

    <div class="col-3">
      <div class="product-filter-grid1-brands-col3">
        <div class="products-colors">
          <h3>SELECT COLOR </h3>
          <li><a href="#"><span class="color1"> </span></a></li>
          <li><a href="#"><span class="color2"> </span></a></li>
          <li><a href="#"><span class="color3"> </span></a></li>
          <li><a href="#"><span class="color4"> </span></a></li>
          <li><a href="#"><span class="color5"> </span></a></li>
          <li><a href="#"><span class="color6"> </span></a></li>
          <li><a href="#"><span class="color7"> </span></a></li>
          <li><a href="#"><span class="color8"> </span></a></li>
          <li><a href="#"><span class="color9"> </span></a></li>
          <li><a href="#"><span class="color10"> </span></a></li>
          <li><a href="#"><span class="color11"> </span></a></li>
          <li><a href="#"><span class="color12"> </span></a></li>
          <li><a href="#"><span class="color13"> </span></a></li>
          <li><a href="#"><span class="color14"> </span></a></li>
          <li><a href="#"><span class="color15"> </span></a></li>
          <li><a href="#"><span class="color16"> </span></a></li>
          <li><a href="#"><span class="color17"> </span></a></li>
          <li><a href="#"><span class="color18"> </span></a></li>
          <li><a href="#"><span class="color19"> </span></a></li>
          <li><a href="#"><span class="color20"> </span></a></li>
        </div>
      </div>
    </div>
    </div>
</div>

<div class="container">
  <div class="special-products all-poroducts">
    <div class="s-products-head">
      <div class="s-products-head-left">
        <h3>SPECIAL <span>PRODUCTS</span></h3>
      </div>
      <div class="s-products-head-right">
        <a href="#"><span> </span>view all products</a>
      </div>
    </div>
  </div>
</div>
<div class="addidas">
  <div class="container">
    <h3>Addidas</h3>
    <div class="row">
      <div class="col-3" *ngFor="let pd of p_addidas">
        <div>
          <div class="special-products-grid text-center" style="width:218px">
            <a class="brand-name" routerLink="/product/{{pd.id}}"><img src="{{ pd.img }}" width="200px" height="200px" title="name" /></a>
            <h4><a routerLink="/product/{{pd.id}}">{{ pd.name }}</a></h4>
            <a class="product-btn" routerLink="/product/{{pd.id}}"><span>{{ pd.price }}</span><small>BUY NOW</small><label> </label></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="nike">
  <div class="container">
    <h3>Nike</h3>
    <div class="row">
      <div class="col-3" *ngFor="let pd of p_nike">
        <div>
          <div class="special-products-grid text-center" style="width:218px">
            <a class="brand-name" routerLink="/product/{{pd.id}}"><img src="{{ pd.img }}" width="200px" height="200px" title="name" /></a>
            <h4><a routerLink="/product/{{pd.id}}">{{ pd.name }}</a></h4>
            <a class="product-btn" routerLink="/product/{{pd.id}}"><span>{{ pd.price }}</span><small>BUY NOW</small><label> </label></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="balencia">
  <div class="container">
    <h3>Balencia</h3>
    <div class="row">
      <div class="col-3" *ngFor="let pd of p_balen">
        <div>
          <div class="special-products-grid text-center" style="width:218px">
            <a class="brand-name" routerLink="/product/{{pd.id}}"><img src="{{ pd.img }}" width="200px" height="200px" title="name" /></a>
            <h4><a routerLink="/product/{{pd.id}}">{{ pd.name }}</a></h4>
            <a class="product-btn" routerLink="/product/{{pd.id}}"><span>{{ pd.price }}</span><small>BUY NOW</small><label> </label></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
